body {
    background-color: #607D8B;
}

#newContact {
    float: left
}

.search {
    width: 40%;
    height: 70%;
    float: right;
    margin-right: none;

}

.searchColumn {
    width: 80%;
    float: right;
    margin: none;
}

.search-input {

    width: 80%;
    box-shadow: 1px 1px 1px #888888;
}

#addressList {
    width: 50%;
    margin-top: 20px;
    margin-left: 35px;

}

ul {
    background-color: #ECEFF1;
}


ul > li> img {
    margin-top: 8px;
    max-height: 75px;
    max-width: 75px;
}

::-webkit-input-placeholder {
    color: lightslategrey;
}

#contactInfoDiv {
    position: relative;
    background-color: white;
    float: right;
    width: 30%;
    margin-top: 20px;
    margin-right: 35px;
}
